@keyframes head {
    from {
        padding-bottom: 2rem;
    }
    to {
        padding-bottom: 0;
    }
}

@keyframes bottom{
    from {
        line-height: 5rem;
        opacity: 0;
    }
    to {
        line-height: 2rem;
        opacity: 100%;
    }
}