html {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    scroll-behavior: smooth;
}

html, body, a, h1, h2, h3, h4, h5, div, p, span {
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

body {
    background-color: #011D3F;
    color: whitesmoke;
    margin: 0 !important;
    padding: 0 !important;
}

#app {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

/* Global Environment */
.contain {
    width: 100% !important;
    height: 100vh;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.text-cont {
    width: 100%;
}

/* Heading Part */
#heading {
    background-color: #023B80;
    background: url(../back1.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
}

#heading .overlay {
    display: flex;
    vertical-align: middle;
    align-items: center;
    text-align: center;
}

#heading .text-cont h1 {
    animation: head 1s;
    letter-spacing: 0.5rem;
}

#heading .text-cont h3 {
    animation: bottom 1s;
}

/* About Part */
#about {
    background-color: #023B80;
    width: 100%;
}

#about .heading {
    width: 100%;
    height: 15vh;
    margin: 0;

    display: flex;
    vertical-align: middle;
    align-items: center;
    text-align: center;

    color: whitesmoke;
}

#about .heading div {
    width: 100%;
}

#about .ab-cont {
    width: 100%;
    height: 85vh;

    display: flex;
    text-align: center;
    flex-direction: row;

    background-color: #023575;
}

#about .ab-cont .left {
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    vertical-align: middle;
    text-align: center;

    background-color: #02316C;
}

#about .ab-cont .left .img-cont {
    width: 100%;
    height: auto;

    border-radius: 1rem;

    text-align: center;
}

#about .ab-cont .left .img-cont span {
    width: 350px;
    height: 350px;
    border-radius: 1rem;
}

#about .ab-cont .left .img-cont span img {
    max-width: 350px;
    border-radius: 1rem;
    transition: transform .2s;
}

#about .ab-cont .left .img-cont span img:hover {
    transform: scale(1.1);
}

#about .ab-cont .right {
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: #0352B3;
}

#about .ab-cont .right .text-cont {
    width: 80%;
    text-align: left;
    padding-left: 1rem !important;
    font-size: 22px;
}

#about .ab-cont .right .text-cont h1{
    margin-bottom: 0.5rem;
}

#about .ab-cont .right .text-cont .desc h1 {
    font-size: 35px;
}

#about .ab-cont .right .text-cont .desc p {
    margin-bottom: .1rem;
    font-size: 20px;
}

#about .ab-cont .right .text-cont .basic-info h2 {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: .1rem;
}

#about .ab-cont .right .text-cont .basic-info ul{
    padding-left: 2.5rem;
    margin-top: 0.25rem;
    font-size: 20px;
}

#about .ab-cont .right .text-cont .basic-info ul li ul{
    padding-left: 1.5rem;
}

/* Skill */
#skill {
    background-color: #02428F !important;
    color: #1f2f2f;
}

#skill .heading {
    width: 100%;
    height: 15vh;
    margin: 0;

    display: flex;
    vertical-align: middle;
    align-items: center;
    text-align: center;

    color: whitesmoke;
}

#skill .heading div {
    width: 100%;
}

#skill .c-cont {
    display: flex;
}

#skill .c-cont {
    width: 80%;
    height: 20rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    display: flex;
    align-items: center;
    text-align: center;
}

#skill .c-cont .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: whitesmoke;
    height: 20rem;
    width: 15rem;

    border-radius: 1rem;
    margin-left: 1rem;
}

#skill .c-cont .card .imghol {
    height: 10rem;
    width: 100%;
    padding-top: .5rem;
    padding-bottom: 1rem !important;
}

#skill .c-cont .card .imghol img {
    height: 100%;
    width: auto;
    padding-top: 1rem;
    padding-bottom: 0 !important;
}

#skill .c-cont .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
#skill .c-cont .container {
    padding-top: 0 !important;
    padding-left: 16px;
    padding-right: 16px;
}

/* Work */
#work {
    width: 100%;

    text-align: center;
    align-items: center;
}

#work .heading {
    width: 100%;
    height: 15vh;
    margin: 0;

    display: flex;
    vertical-align: middle;
    align-items: center;
    text-align: center;

    color: whitesmoke;
}

#work .heading div {
    width: 100%;
}

#work .feature {
    text-align: center;
    width: 100%;
}

#work .c-cont {
    width: 80%;
    height: 13rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#work .c-cont .card {
    width: 18rem;
    height: 13rem;
    margin-left: 1rem;

    background-color: whitesmoke;
    border-radius: 1rem;
    color: #1e1e1f;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#work .c-cont .card-header {
    width: 100%;
    height: 2rem;
    margin-left: 2rem !important;
    padding-top: 1rem;
    padding-bottom: .5rem;
    font-size: 24px;
    text-align: left !important;
}

#work .c-cont .card-body {
    height: 6.5rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#work .c-cont .card-footer {
    margin-right: 2rem !important;
    width: 100%;
    text-align: right !important;
    padding-top: .5rem;
    height: 1rem;
}

#work .c-cont .card .button{
    background-color: coral;
    color: whitesmoke;
    padding: .5rem;
    border-radius: 1rem;
    font-size: 18px;
    text-decoration: none;
}

#work .c-cont .card .button:hover{
    background-color: rgb(209, 105, 66);
    text-decoration: none;
}

/* Work History */
#history {
    width: 100%;
    height: auto !important;

    text-align: center;
    align-items: center;

    background-color: #012C61;
}

#history .heading {
    width: 100%;
    height: 15vh;
    margin: 0;

    display: flex;
    vertical-align: middle;
    align-items: center;
    text-align: center;

    color: whitesmoke;
}

#history .heading div {
    width: 100%;
}

#history .c-cont {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

#history .c-cont .card {
    width: 80%;
    height: 13rem;

    background-color: whitesmoke;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#history .c-cont .card .bg {
    width: 100%;
    height: 100%;
    border-radius: 1rem;

    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

#history .c-cont .card .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}

#history .c-cont .card .img {
    width: 13rem;
    height: 100%;
}

#history .c-cont .card img {
    height: 100%;
    width: auto;

    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

#history .c-cont .card .text {
    width: 100%;
    height: 100%;

    text-align: center;
}

/* Certificate */
#cert {
    width: 100%;

    text-align: center;
    align-items: center;
}

#cert .heading {
    width: 100%;
    height: 15vh;
    margin: 0;

    display: flex;
    vertical-align: middle;
    align-items: center;
    text-align: center;

    color: whitesmoke;
}

#cert .heading div {
    width: 100%;
}

#cert .c-cont {
    width: 70% !important;
    height: auto;

    margin-left: auto;
    margin-right: auto;
    padding: 0;

    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

/* Footer */
#footer {
    width: 100%;
    height: auto;

    background-color: #1e1e1f;
    padding: 2rem 0 2rem 0;
}

#footer .cont {
    width: 100%;
    height: auto;

    display: flex;
    align-items: top;
    text-align: left;
    flex-direction: row;
    justify-content: center;
}

#footer .cont div {
    width: 50%;
}

#footer ul {
    list-style: none;
}

#footer ul a {
    color: whitesmoke;
}

#footer ul a:hover {
    color: rgb(202, 202, 202);
    text-decoration: none;
}