html {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    scroll-behavior: smooth;
}

html, body, a, h1, h2, h3, h4, h5, div, p, span {
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

body {
    background-color: #011D3F;
    color: whitesmoke;
    margin: 0 !important;
    padding: 0 !important;
}

#app {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.contain {
    width: 100% !important;
    height: 100vh;
}

#container-1 {
    background-color: #023B80;
    background: url(../back1.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#container-1 .overlay {
    display: flex;
    vertical-align: middle;
    align-items: center;
    text-align: center;
}

.text-container {
    width: 100%;
}

.text-container h1 {
    animation: head 1s;
    letter-spacing: 0.5rem;
}

.text-container h3 {
    animation: bottom 1s;
}

#container-2 {
    background-color: #023B80;
}