html {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    scroll-behavior: smooth;
}

html, body, a, h1, h2, h3, h4, h5, div, p, span {
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

body {
    background-color: #011D3F;
    color: whitesmoke;
    margin: 0 !important;
    padding: 0 !important;
}

#app {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

/* Global Environment */
.contain {
    width: 100% !important;
    height: 100vh;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.text-cont {
    width: 100%;
}

/* Heading Part */
#heading {
    background-color: #023B80;
    background: url(../back1.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
}

#heading .overlay {
    display: flex;
    vertical-align: middle;
    align-items: center;
    text-align: center;
}

#heading .text-container h1 {
    animation: head 1s;
    letter-spacing: 0.5rem;
}

#heading .text-container h3 {
    animation: bottom 1s;
}

/* About Part */
#about {
    background-color: #023B80;
    width: 100%;
}

#about .heading {
    width: 100%;
    height: 15vh;
    margin: 0;

    display: flex;
    vertical-align: middle;
    align-items: center;
    text-align: center;

    color: whitesmoke;
}

#about .heading div {
    width: 100%;
}

#about .ab-cont {
    width: 100%;
    height: 85vh;

    display: flex;
    text-align: center;
    flex-direction: row;

    background-color: #023575;
}

#about .ab-cont .left {
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    vertical-align: middle;
    text-align: center;

    background-color: #02316C;
}

#about .ab-cont .left .img-cont {
    width: 100%;
    height: auto;

    border-radius: 1rem;

    text-align: center;
}

#about .ab-cont .left .img-cont span {
    width: 350px;
    height: 350px;
    border-radius: 1rem;
}

#about .ab-cont .left .img-cont span img {
    max-width: 350px;
    border-radius: 1rem;
    transition: transform .2s;
}

#about .ab-cont .left .img-cont span img:hover {
    transform: scale(1.2);
}

#about .ab-cont .right {
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: #0352B3;
}

#about .ab-cont .right .text-cont {
    width: 80%;
    text-align: left;
    padding-left: 1rem !important;
    font-size: 22px;
}

#about .ab-cont .right .text-cont h1{
    margin-bottom: 0.5rem;
}

#about .ab-cont .right .text-cont .desc h1 {
    font-size: 35px;
}

#about .ab-cont .right .text-cont .desc p {
    margin-bottom: .1rem;
    font-size: 20px;
}

#about .ab-cont .right .text-cont .basic-info h2 {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: .1rem;
}

#about .ab-cont .right .text-cont .basic-info ul{
    padding-left: 2.5rem;
    margin-top: 0.25rem;
    font-size: 20px;
}

#about .ab-cont .right .text-cont .basic-info ul li ul{
    padding-left: 1.5rem;
}